html, body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  &:before {
    content: "";
    position: fixed;
    background: url(bg.jpg);
    background-repeat: repeat;
    z-index: -1;
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(1) opacity(0.15);
  }
}

header {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.3);
  background-color: white;
  .logo {
    cursor: pointer;
    height: 100%;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 120px;
  .video {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }
  a {
    font-family: 'Abel';
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;    
    border: none;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    color: white;
  }
  .mobile {
    background-color: #E86424;
    &:hover {
      background-color: lighten(#E86424, 5%);
    }
  }
  .acces {
    background-color: #29B641;
    margin-right: 20px;
    &:hover {
      background-color: lighten(#29B641, 5%);
    }
  }
}

#quiz {
  border: 1px solid #e0e0e0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}